
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Please select from one below</h2>

<p>
    @Html.ActionLink("Staff", "Display", "Staff")
    @Html.ActionLink("Course", "Display", "Course")
</p>