@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Language School</h1>
    <p class="lead">Please use navigation bar at this stage.</p>
</div>

<img srcset="~/Content/Images/1280_1.png 1280w,
            ~/Content/Images/640_1.png 640w,
            ~/Content/Images/320_1.png 320w"
            sizes=" (max-width: 1280px) 1280px,
     640px,320px"
     src="~/Content/Images/1280_1.png"
     alt="Education one">
<img srcset="~/Content/Images/1280_2.png 1280w,
            ~/Content/Images/640_2.png 640w,
            ~/Content/Images/320_2.png 320w"
            sizes=" (max-width: 1280px) 1280px,
     640px,320px"
     src="~/Content/Images/1280_2.png"
     alt="Education two">